.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  font-size: 1rem;
  border-radius: 0.8rem;

  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
    width: 10rem;
  }
}

.button:hover {
  cursor: pointer;
}
